body {
    background-color: #2c1a1a;
    color: #f5e6d3;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #3a2424;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    color: #f5e6d3;
    text-decoration: none;
    margin: 0 15px;
    background-color: #2c1a1a;
    padding: 5px;
    border-radius: 5px;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    background-color: #5a2a2a;
    transition: background-color 0.2s ease;
}

nav ul li a:active {
    background-color: #7a3a3a;
}

.form {
    background-color: #3a2424;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #f5e6d3;
    text-align: center;
}

.botao {
    text-align: center;
    margin-top: 20px;
    display: flex;               
    justify-content: center;     
    gap: 20vw;
}

button {
    background-color: #3a2424;
    color: #f5e6d3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5a2a2a;
    transition: background-color 0.2s ease;
}

button:active {
    background-color: #7a3a3a;
}

h1 {
    text-align: center;
    color: #c7a76c;
}

.container {
    background-color: #3a2424;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

label {
    width: 120px;
    display: inline-block;
    text-align: right;
}

#video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.img-tabela {
    width: 140px;
    height: 180px;
}

.tabela-vinhos {
    margin: 0 auto;
    text-align: center;
}

.titulo-vinhos h2 {
    font-size: 28px;
    color: #c7a76c;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
